/*
// bower:scss
// endbower
*/
// Globle / Common Stlye should go here
body {
    font-family: 'Futura-pt', 'Roboto', "Helvetica Neue", Arial, sans-serif;
    font-size: 12xp;
    background: #ECEFF1;
}
.page-container {
    padding: 0;
    margin: 0;
}
.auth-page {
    padding-top: 100px;
    letter-spacing: 4px;
    .btn {
        letter-spacing: 4px;
    }
    .btn-link {
        text-align: center;
    }
}
// .btn-block {
//   display: block;
//   width: 100%;
// }
.btn-center {
    margin-left: auto;
    margin-right: auto;
}
