<h2>Sample Application</h2>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>

<pre style="width: 100%; display: inline-block; white-space: normal; background: #eee; padding: 10px; color: #000;">&lt;p&gt;Sed nec arcu vel nibh ultricies tristique vitae vitae purus. Sed sollicitudin lacinia tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. &lt;/p&gt;

&lt;h1&gt;jyyrtrytdf&lt;/h1&gt;
</pre>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>

<pre style="width: 100%; display: inline-block; white-space: normal; background: #eee; padding: 10px; color: #000;">&lt;p&gt;Sed nec arcu vel nibh ultricies tristique vitae vitae purus. Sed sollicitudin lacinia tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. &lt;/p&gt;

&lt;h1&gt;jyyrtrytdf&lt;/h1&gt;
</pre>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>

<pre style="width: 100%; display: inline-block; white-space: normal; background: #eee; padding: 10px; color: #000;">&lt;p&gt;Sed nec arcu vel nibh ultricies tristique vitae vitae purus. Sed sollicitudin lacinia tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. &lt;/p&gt;

&lt;h1&gt;jyyrtrytdf&lt;/h1&gt;
</pre>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>

<pre style="width: 100%; display: inline-block; white-space: normal; background: #eee; padding: 10px; color: #000;">&lt;p&gt;Sed nec arcu vel nibh ultricies tristique vitae vitae purus. Sed sollicitudin lacinia tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. &lt;/p&gt;

&lt;h1&gt;jyyrtrytdf&lt;/h1&gt;
</pre>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>

<pre style="width: 100%; display: inline-block; white-space: normal; background: #eee; padding: 10px; color: #000;">&lt;p&gt;Sed nec arcu vel nibh ultricies tristique vitae vitae purus. Sed sollicitudin lacinia tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. &lt;/p&gt;

&lt;h1&gt;jyyrtrytdf&lt;/h1&gt;
</pre>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>
<p>In order to get a better understanding of the optimizations explained below, lets first describe the sample application that we’re going to apply them on.

Our app is going to consist the following three files:</p>
<hr>
<div class="row">
  <div class="col-sm-4">
    <p>Feature was published in 12-october -2015</p>
  </div>
  <div class="col-sm-offset-1 col-sm-3">
    <!-- <p>Share</p> -->
    <a href=""><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href=""><i class="fa fa-google-plus" aria-hidden="true"></i></a>
  </div>
</div>

<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<div id="fb-root"></div>
<script>
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
<!-- <div class="row"><div class="fb-like" data-href="http://localhost:9000/#!/dashboard/feature" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div> -->
<div class="row">
  <div class="fb-comments" data-href="http://localhost:9000/#!/dashboard/feature" data-numposts="5"></div>
</div>
