<div class="container auth-page">
  <div class="row">
    <div class="col-sm-6 col-xs-12 offset-sm-3">
      <div class="card">
        <div class="card-header text-lg-center">
          <h3 class="card-title">Login</h3>
        </div>
        <div class="card-block">
          <form name="loginForm" ng-submit="login.login()" novalidate>
            <md-input-container class="md-block">
              <label>Username/Email Id</label>
              <input required type="email" name="email" ng-model="login.username" ng-pattern="/^.+@.+\..+$/" />
              <div ng-messages="loginForm.email.$error" role="alert">
                <div ng-message="required">Email is required.</div>
                <div ng-message="pattern">Enter a valid email.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="login.password" required minlength="1" />
              <div ng-messages="loginForm.password.$error" role="alert">
                <div ng-message="required">Password is required.</div>
              </div>
            </md-input-container>

            <button type="submit" class="btn btn-outline-success btn-block" ng-disabled="loginForm.$invalid">Login</button>
            <br>
            <div class="card-text">
              <a ui-sref="signup" class="btn btn-link pull-sm-left">Register now</a>

              <a href="" class="btn btn-link pull-sm-right">Forgot password?</a>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
