/*
// bower:scss
// endbower
*/
// Globle / Common Stlye should go here
body {
    background: #ECEFF1;
}
.page-container {
    padding: 0;
    margin: 0;
}
.btn-center {
    margin-left: auto;
    margin-right: auto;
}
