<div class="container-fluid">

  <div class="row">
    <div class="col-sm-3">
      <img src="images/profile.jpg" alt="Responsive image" class="img-circle img-responsive" height="130px" width="140px">
      <h3>AKHIL AGRAWAL</h3>
      <P>Web Developer</P>
    </div>
    <div class="col-sm-7">

      <div class="row">
        <h1>About Me</h1>
      </div>
      <hr>
      <div class="row">
        <p>I am Akhil Agrawal, Founder and Administrator of codewithakhil.com. Since, last two and half years I am working as a Application and Web based programmer. I enjoy working with teams to encounter new things.</p>
        <br />
        <p>The genesis behind this blog is my passion for technologies. And I want to share my experience on Angularjs. The problems I faced I want to provide solution of these, so people can get theis solution easily.</p>
        <br />
        <p>This blog is the place to get all information on Angularjs. You can find your problem solution here.</p>
        <br />
        <p>Please feel free to share your valuable suggesstion through <a href="" ui-sref ="contact">Contact Form</a>.</p>
      </div>
    </div>
  </div>
</div>
