<div class="container-fluid">
    <div class="col-sm-2 col-xs-2">
            <a href="" style=""><img  src="images/profile.jpg" alt="Responsive image" class="img-circle img-responsive" height="130px" width="140px" ></a>
            <h4>Akhil Agrawal</h4>
            <p>Web Developer</p>
        <div class="row">

        </div>
    </div>
    <div class="col-sm-8">
        <div class="col-sm-5 tiles" ng-repeat="t in tiles track by $index" ng-class="{space: ($index+1)%2 === 0}">
            <div>{{t.date}}</div>
            <div><a href="" ui-serf=""><h4>{{t.title}}</h4></a></div>
            <div>{{t.description}}</div>
        </div>
        <!-- <div ui-view></div> -->
    </div>
    <div class="col-sm-2">
        <ui>
            <li ng-repeat = "item in tiles"><a href="">{{item.title}}</a></li>
        </ui>
    </div>
<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
</div>
